In [4]:
# dictionary and sets

In [6]:
#dictionary-->use to ata values in key values pairs, mutable ,no duplicate keys

In [20]:
dict={"key" : "values",
      "name" : "zal",
    "learning" : "python",
     "age" : 21,
     "girl" : True,
     "gpa" : 3.4}
print(dict)
#no idex..>no order, no repeat

{'key': 'values', 'name': 'zal', 'learning': 'python', 'age': 21, 'girl': True, 'gpa': 3.4}

In [24]:
print(dict["name"])

zal

In [26]:
dict["name"] = "zalwisha"
print(dict["name"])

zalwisha

In [28]:
dict["surname"] = "khan"
print(dict)

{'key': 'values', 'name': 'zalwisha', 'learning': 'python', 'age': 21, 'girl': True, 'gpa': 3.4, 'surname': 'khan'}

In [30]:
dict2={}
print(dict2)

{}

In [34]:
st={
    'name':'zalwisha',
    'subjects':{
    'urdu' : 1,
    'eng': 2}}
print(st)

{'name': 'zalwisha', 'subjects': {'urdu': 1, 'eng': 2}}

In [38]:
print(st['subjects'])
print(st['subjects']['urdu'])

{'urdu': 1, 'eng': 2}
1

In [46]:
print(st.keys())
#outer keys not nested

dict_keys(['name', 'subjects'])

In [50]:
# type cast to list + lenggth 
print(len(list(st.keys())))

2

In [54]:
print(list(st.values()))

['zalwisha', {'urdu': 1, 'eng': 2}]

In [56]:
print(st.items())

dict_items([('name', 'zalwisha'), ('subjects', {'urdu': 1, 'eng': 2})])

In [58]:
st.get("name")

'zalwisha'

In [64]:
st.update({"city":"fsd"})
print(st)
#if create duplicate key then old value of that key will be update not new added

{'name': 'zalwisha', 'subjects': {'urdu': 1, 'eng': 2}, 'city': 'fsd'}

In [70]:
#sets 
# muct be unique & imutable , un ordered 
# list and dict cant be stored in sets

In [89]:
col={1,2,3,4,"hello","hi"}
print(type('col'))

<class 'str'>

In [85]:
# empty set 
col1=set()
print(col1)

set()

In [95]:
# sets are mutable bt item/elementss are not 
col.add(6)
print(col)

{1, 2, 3, 4, 6, 'hi', 'hello'}

In [97]:
col.remove('hi')
print(col)

{1, 2, 3, 4, 6, 'hello'}

In [107]:
col.add(5)
print(col)

{1, 2, 3, 4, 5, 6, 'hello'}

In [111]:
col.pop()
print(col)

{2, 3, 4, 5, 6, 'hello'}

In [119]:
col2={1,7,8,9,3,2}
col.union(col2)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 'hello'}

In [121]:
col.intersection(col2)

{2, 3}

In [123]:
#practice questions

In [139]:
p1={'table':['a piece of furniture','list of fact & figures'],
    'cat':'a small animal'}
print(p1)

{'table': ['a piece of furniture', 'list of fact & figures'], 'cat': 'a small animal'}

In [143]:
# you are given a list of sub for students . assume one class os req for 1 sub how many classes are needed by all st ?
# python,jaba,c++,python , javascript , java,python ,java,c++,c....>ans is 5
sub={'python','java','c++','python','javascript','java','python','java','c++','c'}
print(len(sub))

5

In [157]:
# enter maks of 3 st from user and stoore them n a dict start with an empty dict and add one by one use subjects name as key and marks as value 
dic={}
x = int(input("eng : "))
dic.update({"eng" : x})

x = int(input("urdu : "))
dic.update({"urdu" : x})

x = int(input("math : "))
dic.update({"math" : x})
print(dic)

eng :  1
urdu :  2
math :  3

{'eng': 1, 'urdu': 2, 'math': 3}

In [159]:
# figure out a way to store 9 an d9.0 as seprate values in the set 
val={'9.0',9}
print(val)

{9, '9.0'}

In [165]:
#use tuple bcz cant add dic to set bcz it is mutable and tuples can be use in sets 
value={
    ('float' , 9.0), 
    ('int' , 9),}
print(value)

{('int', 9), ('float', 9.0)}