In [1]:
print("heelo")

heelo

In [2]:
print("'heelo'")

'heelo'

In [3]:
print("heeloo","bye")

heeloo bye

In [4]:
print(3347)

3347

In [6]:
print(23+45)
print(45-32)
print(3*7)

68
13
21

In [13]:
name="zal"
age=21
print (age) 
print(name)
print("my name is : " , name)

21
zal
my name is :  zal

In [15]:
age2=age
print(age2)

21

In [16]:
print(type(name))
print(type(age))

<class 'str'>
<class 'int'>

In [18]:
old=False
a=None
print(type(old),(a))

<class 'bool'> None

In [20]:
a=1
b=2
sum=a+b
print(sum)

3

In [23]:
#aithmetic 
a=7
b=6
print(a+b)
print(a-b)
print(a/b)
print(a*b)
print(a%b)# reminder
print(a**b)#power 7 ki pwr 6

13
1
1.1666666666666667
42
1
117649

In [24]:
# relational
a=50
b=30
print(a==b)
print(a!=b)
print(a>=b)
print(a<=b)

False
True
True
False

In [25]:
#assigment 
num=20
num+=10
print(num)

30

In [27]:
#logical
a=10
b=5
print(not(a>b))
val1=True
val2=False
print(val1 and val2)
print ((a==b) or (a>b))

False
False
True

In [29]:
# type conversion --automatic convert 
# casting --manuually convert 
a=2
b=4.5
sum2=a+b
print(sum2)

'''c="3"
d=8
sum3=c+b
print (sum3)'''

#casting 
e=int("2")
f=4.5
sum4= e+f
print(sum4)

6.5
6.5

In [33]:
name=input("enter name")
print("welcome",name)
val=input("age")
print(type(val),val)# uski type or sth print ho

enter name zal

welcome zal

age 21

<class 'str'> 21

In [34]:
int("21")
val=int(input("age"))
print(type(val),val)

age 21

<class 'int'> 21

In [35]:
name=input("name")
age=input("age")
marks=input("marks")
print("welcome",name,"my age is",age,"my marks are",marks)

name za;
age 21
marks 34

welcome za; my age is 21 my marks are 34

In [38]:
a=int(input("enter num"))
b=int(input("enter num"))
sum=a+b
print(sum)

enter num 2
enter num 3

5

In [39]:
#input side of sq and print area 
side=float(input("enter side"))
print("area=",side**2)

enter side 3.3

area= 10.889999999999999

In [40]:
#2 float num avg 
a=float(input("enter num"))
b=float(input("enter num"))
print("avg=",(a/b)/2)

enter num 3
enter num 2

avg= 0.75

In [41]:
a=int(input("enter num"))
b=int(input("enter num"))
print(a>=b)

enter num 3
enter num 2

True